*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "gilroy";
}

html, body{
    height:100%;
    width: 100% ;
}

nav{
    background-color: #f3f3f3; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px 30px;
}

header{
     padding: 3vw;
     background-color: #e3e3e3;
}

section{
    padding: 30px;
    width: 100%;
}

.sec{
   background-color: azure;
   min-height: 100vh;
   padding: 50px;
}

.container{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

article{
  border-radius: 10px;
  padding: 30PX;
  background-color: brown;
  width: 30%;  
  color: white;
}

aside{
    padding: 20px;
    background-color: brown;
    border-radius: 5px  ;
    position: fixed;
    right: 10px;
    top:50%;
    transform: translate(0,-50%);
}